@import '../constants/colors.scss';

.card {
  width: 320px;
  font-family: 'TrebuchetMS', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 40px 20px;
  min-height: 522px;
}

.card__item {
  display: grid;
  grid-template-rows: 480px;
  height: 480px;
  overflow: hidden;
  border-radius: 12px;
  background-image: url('../images/card-bg.svg');
  margin-bottom: 12px;
  cursor: pointer;

  &_disabled {
    cursor: not-allowed;
  }
}

.card__description {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  margin: 0;

  span {
    color: $blue;
    font-weight: 700;
    text-decoration: underline dashed;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: $blue-hover;
    }
  }

  &_disabled {
    color: #ffff66;
  }
}

.card__content {
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
}

.card__border-container {
  grid-area: 1/2;
  z-index: 100;
}

.card__border {
  fill: $blue;
  transition: fill 0.2s ease;

  &_disabled {
    fill: $grey-disabled;
  }

  &_hover {
    fill: $blue-hover;
  }

  &_selected {
    fill: $red;
  }

  &_selected-hover {
    fill: $red-hover;
  }
}

.card__text-container {
  padding-left: 48px;
  padding-right: 10px;
  padding-top: 21px;
  flex-grow: 1;
}

.card__main-text {
  height: 105px;
  overflow: hidden;
}

.card__image_disabled {
  opacity: 0.5;
}

.card__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;

  &_disabled {
    @extend %types-disabled;
  }
}

.card__subtitle {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  &_disabled {
    @extend %types-disabled;
  }
}

.card__text {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $grey;

  &_disabled {
    @extend %types-disabled;
  }

  &_warning {
    color: $red-hover;
  }
}

.card__text-details {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $grey;

  &_disabled {
    @extend %types-disabled;
  }

  span {
    font-weight: 700;
  }
}

.card__extra-container {
  grid-area: 1/2;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.card__badge {
  align-self: flex-end;
}

%types-disabled {
  color: $grey-disabled;
  opacity: 0.5;
}
