.App {
  min-height: 100vh;
  background-color: black;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5)), url('./images/bg-pattern.jpg');
  background-size: 100% 100%, 80px 80px;
}
